:root {
    --white: #fff;
    --black: #000;
    --font-color-base: #E1E7EF;
    --font-color-dark: #677788;
    --font-color-light: #D9D9D9;
    --font-color-link: #2476FF;
    --hire-us: #20335B;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--font-color-base);
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-top: 0;
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 760px) {
    .pricing-table,
    .testimonial-grid,
    .footer-bottom-wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    footer .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}