@media screen and (max-width: 768px) {
    [aria-controls="navbarDropdown"] {
        display: block;
    }
    [aria-expanded="false"]~.navigation {
        display: none;
    }
    [aria-expanded="true"]~.navigation {
        display: block;
        position: absolute;
        right: 0;
        top: var(--size-50);
        background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
        width: 100%;
        text-align: right;
        box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
    }
    [aria-expanded="true"]~.navigation li .nav-link {
        margin-right: var(--size-20);
        color: var(--font-color-dark);
    }
    .bottom-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 30px 0px;
        gap: 10px;
        height: 664px;
    }
    .bottom-header .left-part {
        align-items: center;
        text-align: center;
        align-self: center;
    }
    .bottom-header .right-part {
        margin-top: var(--size-30);
    }
    .logo-icon.asana {
        left: 33.3125rem;
        top: 0px;
    }
    .logo-icon.atlassian {
        left: 17.9375rem;
        top: 0rem;
    }
    .logo-icon.calandar {
        left: 517px;
        top: 229px;
    }
    .logo-icon.google-a {
        left: 230px;
        top: 209px;
    }
    .logo-icon.google {
        left: 110px;
        top: 0px;
    }
    .logo-icon.paypal {
        left: 112px;
        top: 99px;
    }
    .logo-icon.weave {
        left: 414px;
        top: 99px;
    }
}