@media screen and (max-width: 48rem) {
    .background {
        width: 768px;
        border-right: 102px solid #e1E7EF;
    }
    .background .gradient {
        width: 666px;
    }
    .background .right-border {
        border-left: 7.375rem solid transparent;
        border-bottom: 27.7813rem solid #E1E7EF;
    }
    .background .bottom-border {
        border-left: 48rem solid transparent;
        border-bottom: 8.125rem solid white;
    }
    .header {
        height: 750px;
    }
    [aria-controls="navbarDropdown"] {
        display: block;
    }
    [aria-expanded="false"]~.navbar .nav {
        display: none;
    }
    [aria-expanded="true"]~.navbar {
        background-color: var(--white);
        border-bottom: .0625rem solid #677788;
        width: 768px;
        height: 86px;
    }
    [aria-expanded="true"]~.navbar .nav {
        position: absolute;
        top: 5.375rem;
        left: 0rem;
        width: 48rem;
        height: 42.5625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5.375rem .375rem .875rem;
        gap: 4.5625rem;
        background: var(--white);
    }
    [aria-expanded="true"]~.navbar .nav ul li a {
        margin-right: var(--size-20);
        color: var(--font-color-dark);
    }
    .hero-section {
        flex-direction: column;
    }
    .hero-section .left-part {
        align-items: center;
        justify-content: unset;
        width: 712px;
        height: 305px;
    }
    .left-part .title {
        text-align: center;
    }
    .left-part .play {
        justify-content: center;
    }
    .hero-section .right-part {
        width: 712px;
    }
    .right-part .asana {
        left: 533px;
        top: 0rem;
    }
    .right-part .calandar {
        left: 517px;
        top: 229px;
    }
    .right-part .weave {
        left: 414px;
        top: 99px;
    }
    .right-part .paypal {
        left: 112px;
        top: 99px;
    }
    .right-part .atlassian {
        left: 287px;
        top: 0px;
    }
    .right-part .google-ads {
        left: 230px;
        top: 209px;
    }
    .right-part .google {
        left: 6.875rem;
        top: 0px;
    }
    .key-benefits-section .container {
        padding: 80px 0px;
        width: 768px;
        height: 859px;
    }
    .key-benefits-section .benefits-title {
        gap: 10px;
    }
    .key-benefits-section .benefits-cards {
        flex-direction: column;
        width: 768px;
        height: 574px;
    }
    .benefits-cards .top-row,
    .benefits-cards .bottom-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0rem;
        gap: 30px;
    }
    .top-row .responsive,
    .bottom-row .responsive {
        height: 262px;
    }
    .responsive a {
        font-weight: 700;
        color: var(--font-color-link);
    }
    .with-sketch a {
        color: var(--white)
    }
    .software .banner-content {
        flex-direction: column;
        justify-content: unset;
    }
    .banner-content .left-part {
        padding: 27px var(--size-30);
        height: 190px;
        width: 708px;
    }
    .banner-content .left-part .title {
        align-items: center;
        justify-content: center;
        width: 648px;
    }
    .banner-content .left-part .actions {
        justify-content: center;
        width: 648px;
    }
    .banner-content .right-part {
        width: 708px;
        height: 353px;
    }
    .banner-content .right-part img {
        width: 708px;
    }
    .bullet-top:before,
    .bullet-top:after {
        width: 58.5008px;
    }
    .banner-frame,
    .banner-frame .img-container {
        width: 768px;
        height: 364px;
    }
    .banner-frame .img-container .img {
        width: 708px;
        height: 304px;
        background-size: 708px 304px;
    }
    .banner-frame .play-button {
        left: 319px;
        top: 125px;
    }
    .banner-frame .img-container {
        height: 309px;
    }
    .hubspot .container {
        flex-direction: column;
        padding: 0rem 0rem var(--size-40);
        width: 768px;
        gap: 0rem;
    }
    .hubspot .hubspot-left {
        position: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0rem 0rem 111px;
        width: 48rem;
        height: 35rem;
    }
    .hubspot-left .img-container {
        width: 542px;
        height: 560px;
    }
    .hubspot-right {
        align-items: center;
        width: 768px;
        height: 252px;
        padding: 0px;
    }
    .hubspot-right .description {
        align-items: center;
        justify-content: center;
        width: 600px;
    }
    .description p {
        text-align: center;
    }
    .hubspot-right .person {
        padding: 0rem var(--size-20) 0rem 0rem;
        gap: 4px;
        height: 43px;
    }
    .hubspot-right .person p {
        line-height: 17px;
    }
    .brands-section .container {
        padding: 2.5rem 0rem;
    }
    .trusted-by h5 {
        margin: 0px;
    }
    .brands-list img {
        width: 3.875rem;
        height: 1.6875rem;
    }
    .plans-features-list {
        flex-direction: column;
    }
    .plans-features-list .plan {
        align-items: center;
        width: 42.5rem;
        height: 23.3125rem;
    }
    .plan .plan-header {
        justify-content: center;
        align-items: center;
    }
    .plan-header .plan-price h1 {
        margin: 0rem;
    }
    .plan-header .plan-price p {
        margin-bottom: .3125rem;
    }
    .plan-header hr {
        width: 37.5rem;
    }
    .plans-features-list .plan-features {
        width: 680px;
        align-items: center;
    }
    .plan-features .plan-row-1,
    .plan-features .plan-row-2 {
        width: 42.5rem;
    }
    .plan-features .plan-row-1 .plan-feature-Item,
    .plan-features .plan-row-2 .plan-feature-Item {
        width: 20.9375rem;
    }
}