.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.nav .brand-logo {
    width: 155px;
    height: 46px;
}

.nav .navbar {
    display: flex;
}