.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.nav .brand-logo {
    width: 155px;
    height: 46px;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    gap: var(--size-30);
}

.navigation .navbar {
    display: flex;
    align-items: flex-start;
    padding: 0;
    gap: var(--size-20);
}

.navigation .navbar .nav-link {
    font-weight: 500;
    font-size: var(--size-14);
    line-height: 17px;
    color: var(--font-color-dark);
}