.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .625rem 1.875rem;
}

.nav .brand-logo {
    width: 9.6875rem;
    height: 2.875rem;
}

.navigation {
    display: flex;
    align-items: center;
    padding: .375rem .875rem;
    gap: var(--size-30);
}

.navigation .navbar {
    display: flex;
    align-items: flex-start;
    padding: 0;
    gap: var(--size-20);
}

.navigation .navbar .nav-link {
    font-weight: 500;
    font-size: var(--size-14);
    line-height: 1.0625rem;
    color: var(--font-color-dark);
}

.navigation .buy-now-btn {
    padding: .9375rem 1.5625rem;
    background: var(--font-color-link);
    border-radius: var(--size-30);
    color: var(--white);
    font-weight: 700;
    font-size: var(--size-12);
    line-height: .9375rem;
}

.bottom-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29.8125rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(27.875rem, 1fr));
    gap: var(--size-10);
    padding: var(--size-40) var(--size-30) 0px;
}

.bottom-header .left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 3.75rem;
    gap: var(--size-30);
}

.bottom-header .left-part .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: .6875rem;
    width: 20.875rem;
}

.bottom-header .left-part .title h2 {
    color: var(--black);
    font-family: 'Inter', sans-serif;
    font-size: var(--size-40);
}

.bottom-header .left-part .title h2,
.bottom-header .left-part .title p {
    margin: 0;
}

.bottom-header .left-part .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 1.5rem;
}

.bottom-header .left-part .actions .play-circle {
    background: var(--font-color-link);
    padding: .9375rem 1.5625rem;
    border-radius: var(--size-30);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: var(--size-12);
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    line-height: .9375rem;
}

.bottom-header .left-part .actions .play-circle i {
    font-size: 1.125rem;
    line-height: 1.125rem;
}

.bottom-header .left-part .actions .learn-more {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: var(--size-14);
    line-height: 1.0625rem;
    color: var(--font-color-link);
}

.bottom-header .right-part {
    position: relative;
}

.logo-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: var(--white);
    box-shadow: 0px .1875rem .8125rem rgba(0, 0, 0, 0.25);
    border-radius: var(--size-40);
}

.logo-icon.google-a,
.logo-icon.google {
    width: 3.75rem;
    height: 3.75rem;
}

.asana {
    left: 23.75rem;
    top: .625rem;
}

.atlassian {
    left: 10.9375rem;
    top: .625rem;
}

.calandar {
    left: 22.75rem;
    top: 19.375rem;
}

.google-a {
    left: 9.6875rem;
    top: 18.125rem;
}

.google {
    left: 4rem;
    top: .625rem;
}

.paypal {
    left: 2.75rem;
    top: 10.75rem;
}

.weave {
    left: 16.375rem;
    top: 10.75rem;
}

.container.backdrop {
    display: grid;
}

.background-container {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 64rem;
    height: 32.3125rem;
}

.background-container .background {
    position: absolute;
    width: 55.2813rem;
    height: 32.3125rem;
    left: 0px;
    top: 0px;
    background: linear-gradient(312.73deg, rgba(217, 217, 217, 0.44) 17.61%, rgba(217, 217, 217, 0) 55.85%);
    z-index: -2;
}

.background-container .object-1 {
    position: absolute;
    right: 0;
    width: 20.8438rem;
    height: 27.6875rem;
    top: 0px;
    border-left: 9.875rem solid transparent;
    border-bottom: 27.6875rem solid #E1E7EF;
    z-index: -2;
}

.background-container .object-2 {
    position: absolute;
    width: 64rem;
    height: 32.3125rem;
    bottom: 0px;
    border-bottom: 7.6875rem solid white;
    border-left: 64rem solid transparent;
    z-index: -1;
}